@{
    ViewData["Title"] = "Mission 5";
}

<div class="text-center">
    <h1 class="display-4">Michael's Jump Rope Syndicate </h1>

    <p>Learn more about <a href="https://www.summerwindskippers.org/">my team</a>.</p>
    <img src="~/img_3343_original.jpg" height="400px" />
    <img src="~/underwood, michael.jpg" height="400px"/>

    <br />
    <p>Hi! My name is Michael Underwood. I am a student at Brigham Young University studying Information Systems. On the side, I like to teach jump rope. Check out my site to plan your lesson!</p>

    <p>The sport gained popularity in the United States during the 20th century, evolving from a playground activity to a competitive discipline with standardized rules and routines. The formation of organizations like the World Jump Rope Federation (WJRF) and USA Jump Rope further propelled the sport's growth, fostering international competitions and establishing a global community of jump rope enthusiasts. Competitive jump rope has since evolved into a dynamic and acrobatic discipline, showcasing a blend of athleticism, creativity, and precision, with athletes performing intricate routines using single and double dutch ropes.</p>
</div>
<img src="\\mac\Home\Pictures\michael profile.jpeg" />